<h1>follows</h1>
<table class='table'>
  <thead>  
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>ユーザーはいません</td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>